
@{
    ViewData["Title"] = "Index2";
}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC VİEWLER</title>
</head>
<body>
    hello From the View! 
</body>
</html>

