@charset "utf-8";
/* CSS Document */
#yeniDIV
{
	width: 100px;
	height: 300px;
	background: orange;
	-webkit-animation:dikdortgen 5s infinite;
	-moz-animation:dikdortgen 5s infinite;
	-ms-animation:dikdortgen 5s infinite;
	animation: dikdortgen 5s infinite;
}

@-webit-keyframes dikdortgen
{
	from{background-color: orange;}
	to {background-color: red;}
}

@-moz-keyframes dikdortgen
{
	from{background-color: orange;}
	to {background-color: red;}
}

@-ms-keyframes dikdortgen
{
	from{background-color: orange;}
	to {background-color: red;}
}

@-keyframes dikdortgen
{
	from{background-color: orange;}
	to {background-color: red;}
}
