@charset "utf-8";
div {width: 100px;
	height: 100px;
	background-color: lightgreen;
	border: 2px solid black;
	-ms-transform: rotate(-150deg);
	-webkit-transform: rotate(-15deg);
	-moz-transform:rotate(-15deg);
	transform:rotate(-15deg);
    }

